body{
    margin: 0;
    text-align: center;
}
h1{
    margin-top: 0;
    font-family: 'Allison', cursive;
    font-size: 90px;
    color: #66BFBF;
}

.pro{
    text-decoration: underline;
}
.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    top: 200px;
}
.skills-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}
.code-img {
    width: 25%;
}